[data-pnotify] .brighttheme-closer,
[data-pnotify] .brighttheme-icon,
[data-pnotify] .brighttheme-sticker {
  display: flex;
  justify-content: right;
}
body {
  background-color: aqua;
}
.card {
  margin: 0 auto;
}
